# Terraform folders
.terraform/
# Terraform state files
*.tfstate
*.tfstate.backup
*.terraform.lock.hcl
# tfvars files, which are likely to contain sensitive data such as passwords and API keys
terraform.tfvars
# Crash log files
# crash.log
# Exclude .tfvars files, which are likely to contain sensitive data such as passwords and API keys
# *.tfvars
# Ignore override files as they are usually used to override resources locally and shouldn't be shared
# override.tf
# override.tf.json
# Ignore CLI configuration files, which may contain sensitive data such as credentials
# .terraformrc
# terraform.rc

